Repository open-xchange/flutter-deltachat-core, pull requests merged in 2019-11, with the labels that each got.

#50 Adds Swiftlint
  ios/Classes/.swiftlint.yml
  ios/Classes/DCWrapper/DCContext.swift
  ios/Classes/DCWrapper/DCEventCallback/DCEventCallback.swift
  ios/Classes/DCWrapper/DCEventHandler.swift
  ios/Classes/DCWrapper/DcChat.swift
  ios/Classes/DCWrapper/DcChatList.swift
  ios/Classes/DCWrapper/DcContact.swift
  ios/Classes/DCWrapper/DcLot.swift
  ios/Classes/DCWrapper/DcMsg.swift
  ios/Classes/DCWrapper/ErrorHandling/DcContextError.swift
  ios/Classes/Error/PluginError.swift
  ios/Classes/Extensions/Flutter/FlutterMethodCall+Extensions.swift
  ios/Classes/Extensions/Foundation/Bundle+Extensions.swift
  ios/Classes/Extensions/Foundation/String+Extensions.swift
  ios/Classes/Extensions/UIKit/UIApplication+Extensions.swift
  ios/Classes/Extensions/UIKit/UIColor+Extensions.swift
  ios/Classes/Extensions/UIKit/UIImage+Extension.swift
  ios/Classes/Handler/ChatCallHandler.swift
  ios/Classes/Handler/ChatListCallHandler.swift
  ios/Classes/Handler/ContactCallHandler.swift
  ios/Classes/Handler/ContextCallHandler.swift
  ios/Classes/Handler/EventChannelHandler.swift
  ios/Classes/Handler/MessageCallHandler.swift
  ios/Classes/Helper/Arguments.swift
  ios/Classes/Helper/Cache/Cache.swift
  ios/Classes/Helper/Cache/IdCache.swift
  ios/Classes/Helper/Cache/IncrementalCache.swift
  ios/Classes/Helper/Method.swift
  ios/Classes/Helper/Utils.swift
  ios/Classes/SwiftDeltaChatCorePlugin.swift
Labels: enhancement, iOS

#52 OT-454 Autocrypt setup is not sorted correctly into chat list
  lib/delta_chat_core.dart
Labels: bug

#49 OT-481: UI for Flag/Unflag a message doesn't get updated
  ios/Classes/DCWrapper/DCEventCallback/DCEventCallback.swift
  ios/Classes/Extensions/Flutter/FlutterMethodCall+Extensions.swift
  ios/Classes/Handler/ChatListCallHandler.swift
  ios/Classes/Handler/ContextCallHandler.swift
  ios/Classes/Helper/Arguments.swift
  ios/Classes/Helper/Cache/Cache.swift
  ios/Classes/SwiftDeltaChatCorePlugin.swift
Labels: bug, iOS

#54 Updated to NDK 20
  android/build.gradle
  android/jni/Android.mk
  android/jni/Application.mk
  android/ndk-make.sh
  example/android/app/build.gradle
Labels: tooling
